body {
    background-color: #333333;
    margin: 0 auto;
    font-family: sans-serif, serif;
    font-size: 20px;
    font-style: oblique;
}
.cont {
    height: 300px;
    width: 300px;
    margin: 100px auto;
    /*border: 5px double crimson;*/
    background-color: white;
    box-shadow: 7px ;
    text-align: center;
}
.field {
    margin: 0 auto;

}
#name {
    border-color: royalblue;
    border-radius: 5px;
    border-style: solid;
    font-size: 16px;
    height: 24px;
}